* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --black: #171717;
    --blue: #477BAC;
    --light-blue: #5A9CA8;
    --crimson: #7A1B36;
    --pink: #CE205F;
    --yellow: #FFFE00;
    --gray: #9ea2a3;
}

body {
    background-color: var(--black);
    color: var(--black);
    font-family: "Arial Black", Gadget, sans-serif;
}

body a {
    text-decoration: none;
    color: var(--black);
}

section {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    background-color: var(--gray);
    padding: 25px 25px;
    margin: 0;
}

.content-section {
    display: flex;
    justify-content: stretch;
    align-content: center;
    
}

.section-title {
    text-align: right;
    border-right: solid 3px;
    padding: 20px 10px 0 35px;
    width: 150px;
    margin-right: 35px;
    flex: 1;
    font-size: 1.5em;
}

.section-title h2 {
    padding-right: 10px;
    text-align: right;
}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
    padding: 60px;
    flex: 8;
    width: 100%;
}

.subtitle {
    background-color: var(--black);
    color: white;
    font-size: 40px;
    font-weight: lighter;
    margin: 15px 60px;
    padding: 10px 80px;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 25px 25px;
    background-color: var(--black);
    color: white;
    width: 100%;
    height: 120px;
}

header h1 a {
    font-size: 50px;
    color: white;
}

header h1 a:hover {
    text-shadow: 0 0 20px rgb(206, 32, 95);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    padding: 10px 15px;
    color: white;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    text-shadow: 0 0 20px rgb(206, 32, 95);
}

/*hero*/
.hero-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("../images/horizontal-sign.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: 0 -500px;
    width: 100%;
    height: 600px;
    border-bottom: solid 3px var(--crimson);
}

/*about me*/
.about-me {
    padding-top: 60px;
}

.about-me p {
    text-align: right;
    font-weight: lighter;
}

/*work*/
.work-section {
    width: 100%;
    height: 600px;
}

.work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 20px;
    grid-gap: 15px;
    width: 80%;
    align-content: space-around;
    justify-items: stretch;
    align-items: stretch;
}

.work-section.content {
    justify-content: center;
}
.grid-item {
    border: solid 2.5px var(--crimson);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.big {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url("/assets/images/run-buddy.jpg");
}

.large-grid-item h2 {
    font-size: 1rem;
    width: auto;
    height: auto;
    flex-basis: auto;
    margin: 0 0 5px 0;
}

.grid-link {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    opacity: 0;
    text-indent: -999em;
}

/*contact*/
.contact {
    height: 300px;
}

.contact-info a {
    background-color: var(--black);
    color: white;
    font-size: 20px;
    font-weight: lighter;
    margin: 15px 60px;
    padding: 10px 45px;
    border-radius: 15px;
}